<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About Us</title>


  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">

  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/about.css">

</head>


<body>
  {{>header}}
  <div class="banner-area2">
    {{!-- <img class="banner-img" src="/img/pepperblue.jpg"> --}}
    <h2 class="headers2"> WHY GutSavii? </h2>
    <p class="text2"> As GutSavvi we aim to emphasize the significance of maintaining a healthy diet in preventing
      future illnesses. Our mission is to educate and empower our users on the importance of gut health and provide them
      with the necessary resources to achieve their goals in maintaining optimal gut health through nutrition with an
      extremely user friendly app.
      <br>
    <h2>MEET THE TEAM!</h2>
    </p>
  </div>
  <div class="card-group">
    <div class="card">
      <img src="image1/viv.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Vivica Blakeney</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content.
          This content is a little bit longer.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
    <div class="card">
      <img src="image1/Daniel.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Daniel SueKamling</h5>
        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
    <div class="card">
      <img src="image1/pepperblue.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Ruth Camarillo</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content.
          This card has even longer content than the first to show that equal height action.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
    <div class="card">
      <img src="image1/pepperblue.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Chanthai Phakdy</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content.
          This card has even longer content than the first to show that equal height action.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>
  </div>


  {{>footer}}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
</body>

</html>