<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Untitled</title>


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">

    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/resource.css">

</head>

<body>
    {{>header}}
    <img class="banner-img" src="/img/fallingberry.gif">
    <div class="banner-area">
        <div class="banner">
            {{!-- <img class="banner-img" src="/img/guavaGreen.jpg"> --}}
        </div>
        <h2> Gut Health</h2>
    </div>
    {{!-- <img class="banner-img" src="/img/guavaGreen.jpg"> --}}
    <div class="content-area">
        <div class="wrapper">

            <h2> Text details </h2>
            <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur, ad accusantium! Illum corporis
                soluta ullam fugit hic? Quibusdam, suscipit voluptatum ab magnam odio necessitatibus nesciunt quam,
                ratione laudantium quidem blanditiis!</p>
        </div>
    </div>


    {{>footer}}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
</body>

</html>