<footer>
    <div class="footer-basic">
        <div class="social"><a href="https://www.instagram.com"><i class="icon ion-social-instagram"></i></a>

            <a href="https://www.snapchat.com"><i class="icon ion-social-snapchat"></i></a>

            <a href="https://twitter.com"><i class="icon ion-social-twitter"></i></a>

            <a href="https://www.facebook.com"><i class="icon ion-social-facebook"></i></a>
        </div>

        <ul class="list-inline">
            <li class="list-inline-item"><a href="/">Home</a></li>
            <li class="list-inline-item"><a href="/about">About Us</a></li>
            <li class="list-inline-item"><a href="/resources">Resources</a></li>
            <li class="list-inline-item"><a href="/contact">Contact Us</a></li>

        </ul>
        <p class="copyright">GutSavvi © 2023</p>
    </div>
</footer>