<nav>
  <div id="myNav" class="overlay">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <div class="overlay-content">
      <div class="logo"><img src="image1/gutsavviwhite.png" height="30%" width="30%"></div>
      <a href="#">GutSavvi</a>
      <a href="/">HOME</a>
      <a href="/resources">RESOURCES</a>
      <a href="/contact">CONTACT US</a>
      <a href="/about">ABOUT US</a>
    </div>
  </div>
  <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; </span>
  <script>
    function openNav() {
      document.getElementById("myNav").style.width = "100%";
    }
    function closeNav() {
      document.getElementById("myNav").style.width = "0%";
    }
  </script>
</nav>
<header>



  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <img src="image1/gutsavviwhite.png" alt="Logo" width="270" height="200">
    </a>
  </div>

</header>