<header>
   
<nav class="navbar bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="image1/gutsavvi-logo.png" alt="Logo" width="150" height="100" class="center">
    </a>
  </div>
</nav>
</header>